body{ background-color: lightblue;
  font-family: Times New Roman, Arial, Helvetica;
  font-size:medium;
  text-align:justify;
  margin:3%;
  }
header{
  background-color:aliceblue;
  margin-top: 15px;
  align-content:center;
  font-family:Goudy Old Style;
  font-size:large;
  display:flex;
  justify-content:center;
}
aside{
  margin-top:3%;
  float:right;
  position:fixed;
}
main{
  float:left;
}
container{
  display:flex;
}
.cont{
  margin-right:6%;
}
.redes{
  font-size:small;
  color:#834320;
  display:list-item;
}
.redes:hover{
  color: #DA9827; 
}
