body{ background-color: lightblue;
  font-family: Times New Roman, Arial, Helvetica;
  font-size: inherit;
  }
header{
  background-color:aliceblue;
  margin-top: 15px;
  text-align:inherit;
}

.redes{
  font-size:x-small;
}
