body{ background-color: lightblue;
  font-family: Times New Roman, Arial, Helvetica;
  font-size:medium;
  text-align:justify;
  margin:3%;
  }
header{
  background-color:aliceblue;
  margin-top: 15px;
  font-family:Goudy Old Style;
  font-size:large;
  display:flex;
  justify-content:space-around;
}

.redes{
  font-size:small;
}
